In [1]:
import pandas as pd
df = pd.read_csv("enron.csv")
df.head()

,A.A8,C.C9,B.B12,C.C11,C.C5,C.C7,B.B2,B.B3,D.D16,A.A7,...,workers,working,world,writer,writers,www,year,years,yesterday,york
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [2]:
df.isnull().sum()

A.A8         0
C.C9         0
B.B12        0
C.C11        0
C.C5         0
            ..
www          0
year         0
years        0
yesterday    0
york         0
Length: 1054, dtype: int64

In [3]:
df.describe()

,A.A8,C.C9,B.B12,C.C11,C.C5,C.C7,B.B2,B.B3,D.D16,A.A7,...,workers,working,world,writer,writers,www,year,years,yesterday,york
count,1702.000000,1702.000000,1702.000000,1702.000000,1702.000000,1702.000000,1702.000000,1702.000000,1702.000000,1702.000000,...,1702.000000,1702.000000,1702.000000,1702.000000,1702.000000,1702.000000,1702.000000,1702.000000,1702.000000,1702.000000
mean,0.015276,0.037603,0.003525,0.015276,0.063455,0.048766,0.536428,0.024677,0.005875,0.014689,...,0.028202,0.136898,0.076968,0.045241,0.041716,0.118096,0.162750,0.109871,0.102233,0.080494
std,0.122685,0.190290,0.059287,0.122685,0.243851,0.215442,0.498818,0.155184,0.076448,0.120339,...,0.165599,0.343840,0.266619,0.207893,0.199997,0.322817,0.369246,0.312820,0.303043,0.272136
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
df.year.value_counts()

0    1425
1     277
Name: year, dtype: int64

In [5]:
X = df.drop("year",axis=1)
y = df['year']

In [6]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled[:3]

array([[-0.1245517 , -0.19766648, -0.05947887, ..., -0.35132939,
        -0.33745273, -0.29587149],
       [-0.1245517 , -0.19766648, -0.05947887, ..., -0.35132939,
        -0.33745273, -0.29587149],
       [-0.1245517 , -0.19766648, -0.05947887, ..., -0.35132939,
        -0.33745273, -0.29587149]])

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, stratify=y, random_state=10)

In [8]:
X_train.shape

(1276, 1053)

In [9]:
X_test.shape

(426, 1053)

In [19]:
y_train.value_counts()

0    1068
1     208
Name: year, dtype: int64

In [11]:
y_test.value_counts()

0    357
1     69
Name: year, dtype: int64

In [12]:
#stand alone model

from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

scores = cross_val_score(DecisionTreeClassifier(), X, y, cv=5)
scores

array([0.84457478, 0.63343109, 0.83235294, 0.88529412, 0.77647059])

In [13]:
scores.mean()

0.7944247024322926

In [14]:
#bagging method
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(
    base_estimator=DecisionTreeClassifier(), 
    n_estimators=100, 
    max_samples=0.8, 
    oob_score=True,
    random_state=0
)
bag_model.fit(X_train, y_train)
bag_model.oob_score_

0.9318181818181818

In [15]:
bag_model.score(X_test, y_test)

0.9225352112676056

In [16]:
bag_model = BaggingClassifier(
    base_estimator=DecisionTreeClassifier(), 
    n_estimators=100, 
    max_samples=0.8, 
    oob_score=True,
    random_state=0
)
scores = cross_val_score(bag_model, X, y, cv=5)
scores

array([0.87390029, 0.89442815, 0.92352941, 0.9       , 0.85882353])

In [17]:
#random forest
from sklearn.ensemble import RandomForestClassifier
scores = cross_val_score(RandomForestClassifier(n_estimators=50), X, y, cv=5)
scores.mean()

0.8948369846472313

In [18]:
scores.mean()

0.8948369846472313