In [1]:
import pandas as pd
df = pd.read_csv("tmc500.csv")
df.head()

,abort,abortedtakeoff,above,abuse,abusive,accomplish,acquire,acrid,across,activerunway,...,class13,class14,class15,class16,class17,class18,class19,class20,class21,class22
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,1,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [2]:
df.isnull().sum()

abort             0
abortedtakeoff    0
above             0
abuse             0
abusive           0
                 ..
class18           0
class19           0
class20           0
class21           0
class22           0
Length: 522, dtype: int64

In [3]:
df.describe()

,abort,abortedtakeoff,above,abuse,abusive,accomplish,acquire,acrid,across,activerunway,...,class13,class14,class15,class16,class17,class18,class19,class20,class21,class22
count,28596.000000,28596.000000,28596.000000,28596.000000,28596.000000,28596.000000,28596.000000,28596.000000,28596.000000,28596.000000,...,28596.000000,28596.000000,28596.000000,28596.000000,28596.000000,28596.000000,28596.000000,28596.000000,28596.000000,28596.000000
mean,0.019198,0.004266,0.083578,0.001818,0.003637,0.042104,0.012519,0.000839,0.034271,0.023919,...,0.096517,0.055183,0.014722,0.040600,0.018149,0.052000,0.315499,0.031228,0.014093,0.028361
std,0.137225,0.065179,0.276759,0.042605,0.060198,0.200829,0.111189,0.028959,0.181926,0.152801,...,0.295304,0.228340,0.120441,0.197365,0.133494,0.222031,0.464722,0.173937,0.117876,0.166004
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
df.mechanic.value_counts()

0    27534
1     1062
Name: mechanic, dtype: int64

In [5]:
X = df.drop("mechanic",axis=1)
y = df['mechanic']

In [6]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled[:3]

array([[-0.13990813, -0.06545694, -0.30199419, ..., -0.17954046,
        -0.11955889, -0.17084616],
       [-0.13990813, -0.06545694, -0.30199419, ..., -0.17954046,
         8.36407893, -0.17084616],
       [-0.13990813, -0.06545694, -0.30199419, ..., -0.17954046,
        -0.11955889, -0.17084616]])

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, stratify=y, random_state=10)

In [8]:
X_train.shape

(21447, 521)

In [9]:
X_test.shape

(7149, 521)

In [10]:
y_train.value_counts()

0    20651
1      796
Name: mechanic, dtype: int64

In [11]:
796/20651

0.03854534889351605

In [12]:
y_test.value_counts()

0    6883
1     266
Name: mechanic, dtype: int64

In [13]:
26/6883

0.0037774226354787156

In [14]:
#stand alone model

from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

scores = cross_val_score(DecisionTreeClassifier(), X, y, cv=5)
scores

array([1.        , 0.95523693, 0.93775136, 0.9498164 , 1.        ])

In [15]:
scores.mean()

0.968560937226788

In [16]:
#bagging method
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(
    base_estimator=DecisionTreeClassifier(), 
    n_estimators=100, 
    max_samples=0.8, 
    oob_score=True,
    random_state=0
)
bag_model.fit(X_train, y_train)
bag_model.oob_score_

0.9743087611320931

In [17]:
bag_model = BaggingClassifier(
    base_estimator=DecisionTreeClassifier(), 
    n_estimators=100, 
    max_samples=0.8, 
    oob_score=True,
    random_state=0
)
scores = cross_val_score(bag_model, X, y, cv=5)
scores

array([0.99807692, 0.96887568, 0.96258087, 0.96922539, 0.99860115])